:host ::ng-deep .mat-step-header  {
  width: 180px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
  background-color: var(--blue-clear);
}

.mat-form-field {
  margin-top: 16px;
}

.container__stepper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mat-step-label {
  margin-right: 40px;
}

:host ::ng-deep .mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 0!important;
}




