.avatar__photo{
	height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-default);
}

.avatar__photo img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 2.5rem;
  width: 2.5rem;
  
}
