
.menuSide__container--main {
  width: 100px;
  height: 100vh;
  background-color:var(--blue-ocean);
  position: absolute;
  left: 0;
  top:0;
  display: flex;
  flex-direction: column;

}


mat-icon {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
  width: 30px;
  height: 30px;

}

.menuside__icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


