<div class="menuSide__container--main">
  <img src="../../../../../../assets/img/ilosLogo.jpg" class="menuside__logo" />
  <div class="menuside__icons">
    <span >
      <mat-icon class="mat-icon-first">menu</mat-icon>
    </span>

    <span (click)="navigate('newEmployeeAcceptance')">
      <mat-icon>search</mat-icon>
    </span>

    <span>
      <mat-icon>star_border</mat-icon>
    </span>

    <span>
      <mat-icon class="material-icons-outlined">textsms</mat-icon>    
    </span>

    <span>
      <mat-icon class="material-icons-outlined">tune</mat-icon>
    </span>

    <span>
      <mat-icon class="material-icons-outlined">account_balance</mat-icon>
    </span>

  </div>
</div>
