.header__container--default{
  width: calc(100% - var(--menu-side-size));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-base);
  margin-left:calc(var(--menu-side-size));
  padding: 2rem 2rem 2rem 2rem;
  box-sizing: border-box;
  height: 100px;

  .color-default {
    color: var(--color-default)

   }
}

.header__title--bold{
  font-size: 24px;
  font-weight: bold;
}

.header__subtitle--disable{
  color:#a1a1a1
}


.container__text{
  row-gap: 0.2rem;
}

.header__container--right {
  display: flex;
  align-items: center;


  mat-icon {
    font-size: 35px;

    &.size-35 {
      width: 35px;
      height: 35px;
    }
  }



  .viacredi {
    display: flex;
    flex-direction: column;
    width: 109px;
    height: 32px;
    border-radius: 15px;
    border: 1px solid var(--color-default);
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-default);
    margin: 0 10px;
    text-transform: uppercase;
  
     label {
      width: 72.29308319091797px;
      height: 12.349815368652344px;
  
     }

  }
}


