<div class="card__body--default">
    <div class="card__container--default">
        <div class="card__texts--default">
            <div class="card__texts--title">
                <h3>Situação cadastral do CPF</h3>
            </div>
            <div class="card__texts--subtitle">
                <p>Consulta na Receita Federal</p>
            </div>
        </div>
        <div class="card__info--employee">
            <div class="card__info--container">
                <mat-icon class="icon color-grey">person</mat-icon>
                <div class="card__info__text--container">
                    <label for="titleName" class="card__info__text__container--title">Nome</label>
                    <label for="name" class="card__info__text__container--value">{{ cardData.name }} </label>
                </div>
            </div>
    
            <div class="card__info--container">
                <mat-icon class="icon color-green">check_circle_outline</mat-icon>
                <div class="card__info__text--container">
                    <label for="titleCpf" class="card__info__text__container--title">Situação do CPF</label>
                    <label for="cpfSituation" class="card__info__text__container--value">{{ cardData.cpfSituation }}</label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card__container--default"  *ngFor="let item of cardData.accountSituation">
        <div class="card__texts--default">
            <div class="card__texts--title">
                <h3>{{ item.accountType }}</h3>
            </div>
            <div class="card__texts--subtitle">
                <p>{{ item.cooperativeName }}</p>
            </div>
        </div>
        <div class="card__info--employee">
            <div class="card__info--container">
                <mat-icon class="icon color-grey">credit_card</mat-icon>
                <div class="card__info__text--container">
                    <label for="titleName" class="card__info__text__container--title">Numero da Conta</label>
                    <label for="name" class="card__info__text__container--value">{{ item.numberAccount | mask: '000000-0'}} </label>
                </div>
            </div>
    
            <div class="card__info--button">
                <button>Duplicar Conta</button>
            </div>
        </div>
    </div>
</div>


